# IDE
*.iml
.idea/**

# package manager
node_modules/

# generated
output/

# user input
input/

# other
.claude/
.github/agents
next-steps.txt

# private agent context (satellite repository .do-not-commit)
/.do-not-commit/
