:root {
    --font-sans: "Inter", "Segoe UI", Roboto, sans-serif;
    --font-serif: "Merriweather", "Georgia", serif;
    --font-mono: "Fira Code", "Courier New", monospace;

    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem; /* 36px */
    --text-5xl: 3rem; /* 48px */
    --text-6xl: 3.5rem; /* 56px */

    --code-line-height: 2rem;

    --bold: 700;
    --semibold: 600;
}

.text-lg {
    font-size: var(--text-lg);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-6xl {
    font-size: var(--text-6xl);
}

body {
    font: var(--text-base) var(--font-sans);
    font-size: var(--text-base);
}

h1 {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);
    font-size: var(--text-4xl);
    font-weight: var(--bold);
}

h2 {
    font-size: var(--text-2xl);
    font-weight: var(--semibold);
}

h3 {
    font-size: var(--text-xl);
    font-weight: var(--semibold);

    color: var(--neon-pink);
    text-align: center;
    border-bottom: var(--border-thick);
}

h4 {
    font-size: var(--text-xl);
    font-weight: var(--semibold);

    padding: var(--space-sm);
    background: var(--neon-cyan);
    color: var(--inverted);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-glow) var(--neon-cyan);
    text-align: center;
}

p {
    font-size: var(--text-base);
}

ul {
    list-style: disc;
    padding-left: var(--text-2xl);
    color: var(--muted);
}

li.code {
    line-height: var(--code-line-height);
}

ol {
    list-style: decimal;
    padding-left: var(--text-2xl);
    color: var(--muted);
}

strong {
    font-weight: var(--semibold);
}

code {
    font-size: var(--text-base);
    /*noinspection CssNoGenericFontName*/
    font-family: var(--font-mono);
}

.uppercase {
    text-transform: uppercase;
}

.middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text-color-muted {
    color: var(--muted);
}

.text-color-success {
    color: var(--success);
}

.text-color-warning {
    color: var(--warning);
}

.text-color-danger {
    color: var(--danger);
}
